
.footer{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    box-shadow: 0px 0px 20px 3px #4e3d3d42;
}

.footer > p {
    font-size: 20px;
    color: white;
    text-align: end;
    margin-right: 10px;
}

.footer > ul {
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;  
}   

.footer > ul > li{
     margin: 10px;
}    